body {
  background-color: #b5b6b7;
  display: grid;
  max-height: 700px;
  grid-template-columns: 600px 7fr;
  grid-template-rows: 20% 30% 30% 20%;
  grid-gap: 20px;
  grid-template-areas:
    "o n n n n n n n"
    "o h h h h h h h"
    "o h h h h h h h"
    "f f f f f f f f";
}

.header {
  grid-area: h;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 350%;
  line-height: 120%;
  margin-top: 15%;
  font-family: "Arial Black", fantasy;
}

.header p {
  line-height: 150%;
  font-size: 125%;
  color: white;
  text-align: center;
  font-family: Arial, cursive;
}

.nav {
  grid-area: n;
  margin-top: 15px;
  background-color: #1a1d20;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.50);
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
  margin-top: 17px;
}

.nav a {
  text-decoration: none;
  padding: 45px;
  vertical-align: middle;
  color: white;
  font-family: "Calibri Light", serif;
  text-align: center;
  font-size: 115%;
}

.nav a:hover {
  text-shadow: 1px 1px 2px antiquewhite;
}

.one {
  grid-area: o;
  color: white;
  text-align: center;
}

.one p {
  font-size: 150%;
  top: 75%;
  right: 69%;
  position: absolute;
  font-family: Monotype Corsiva, cursive;
  color: white;
}

img {
  filter: grayscale(60%);
  margin-top: 15px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.50);
}

.four {
  grid-area: f;
  text-align: center;
  margin-top: 20%;
  color: white;
}

.four p {
  font-size: 115%;
  padding: 15px;
}
