body {
  background-color: #b5b6b7;
}

div {
  width: 550px;
  height: 380px;
  display: inline-block;
  padding: 50px;
  margin-left: 60px;
}

img {
   width: 540px;
   height: 350px;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    zoom: 25%;
  }
}

