body {
  background-color: #b5b6b7;
}


p {
  font-size: 150%;
  text-align: center;
  margin-top: 80px;
}

a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: black;
  transition: color .3s ease-out;
}

a::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #1a1d20;
  transition: height .3s ease-out;
  border-radius: 7px;
}

a:hover {
  color: #fff;
}

a:hover::before {
  height: 100%;
}
